<h1>New Game</h1>
<p>Find me in app/views/games/new.html.erb</p>
<ul>
<%@letters.each do |letter|%>
<li><%= letter %> </li>
<% end%>
</ul>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input id="input" type="text" name="word" placeholder="What is the longest word?">
 <!--  <input type="hidden" name="grid" value = @letter> -->
  <input type="submit">
</form>
